//FONTS
$montserrat: 'Montserrat', sans-serif;

//COLOR
$gray: #4D4D4D;
$red: #e1251b;
$blue: #3b4997;
$paid: #F06531;
$processing: #F06531;
$preparing: #FAAF57;
$sent: #63A6F5;
$delivered: #54CB87;
$return: #663ab6;
